@charset "utf-8";

.box{
	.box{
	float: center;
	background-color: #DEB86E;
	width: 500px;
	border: 15px solid #d1ae66;
	padding: 50px;
	text-align: center;

	margin-left: 600px;
	margin-right: 600px;
	margin-top: 100px;
}

h2{
	font-family:serif;
	background-color: #DEB86E;
}

p{
	font-family:serif;
	color: #faebd7;
	background-color: #DEB86E;
}

u{
	background-color: #DEB86E;
}

*{
	background-color: #848484;
}
