#blur{
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/books-reading_2XTL98GVVF.jpg');
}

#clear{
    box-shadow: 8px 8px 8px 8px rgb(52, 52, 52);
    border-radius: 25px;
    margin: 170px 300px;
    padding: 50px;
    backdrop-filter: blur(8px);
}

#inputSize{
    width: 50%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}